/* Настройка цветовых констант */
:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
}
/* Настройки для всех селекторов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

/* Фон тела документа */
body {
  background-color: var(--light);
}

/* Смещение компонента App в центр экрана */
.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

/* Настройка компонента "калькулятор" */
.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #FFF;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

/* Настройка компонента "дисплей" */
.display {
  //display: flex;
  //position: relative;
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

/* Настройка результата, размещаемого в скобках */
.display span {
  
  font-size: 14px;
  color: #888;
}

/* Настройка кнопок, добавление курсора */
button {
  appearance: none;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

/* Осветление кнопок при наведении */
button:hover {
  opacity: 0.9;
}

/* Возможность растяжения кнопок операций */
.operators {
  display: flex;
}

/* Адаптация под калькулятор кнопок операций */
.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

/* Возможность растяжения цифровых кнопок */
.digits {
  display: flex;
  flex-wrap: wrap;
}

/* Адаптация под калькулятор цифровых кнопок */
.digits button {
  flex: 1 1 25%;
  max-width: 25%;
  background-color: var(--dark);
}